<%- include('../layouts/header', {title: 'จัดการการสอบ'}); -%>
<%- include('../layouts/css'); -%>
<%- include('../layouts/endheader'); -%>
    <div class="uk-flex">
        <%- include('../layouts/sideMenu'); -%>
        <div class="content-contianer">
            <div class="navbar">
                    <div class="uk-flex">
                        <div class="width-100 nav-left">
                            หน้าหลัก 
                            <span uk-icon="chevron-right"></span> จัดการการสอบ
                        </div>
                        <%- include('../layouts/navBar'); -%>
                    </div>
            </div>

            <div class="content">
                <div></div>
            </div>
        </div>
    </div>

<%- include('../layouts/javascript'); -%>
<%- include('../layouts/footer'); -%>