<%- include('../layouts/header', {title: 'ข้อมูลนิสิต'}); -%>
<%- include('../layouts/css'); -%>
<%- include('../layouts/endheader'); -%>
<div class="uk-flex">
    <%- include('../layouts/sideMenu'); -%>
    <div class="content-contianer">
        <div class="navbar">
            <div class="uk-flex">
                <div class="width-100 nav-left">
                    หน้าหลัก
                    <span uk-icon="chevron-right"></span> ข้อมูลนิสิต
                </div>
                <%- include('../layouts/navBar'); -%>
            </div>
        </div>

        <div class="content">
            <div style="text-align: center;">
                <table class="uk-table uk-table-divider">
                    <thead>
                        <tr>
                            <th style="text-align: center">รหัสนิสิต</th>
                            <th style="text-align: center;">ชื่อ</th>
                            <th style="text-align: center;">นามสกุล</th>
                            <th style="text-align: center;">ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% studentData.forEach(function(student){ %>
                            <tr>
                                <td><%= student.student_id %></td>
                                <td><%= student.firstname %></td>
                                <td><%= student.lastname %></td>
                                <td>
                                    <a href="/manageuser/student/user/<%= student._id %>"><button class="uk-button uk-button-default" style="padding: 0px 10px; margin-right: 10px; background-color: #fcb730; color: #fff;"><span uk-icon="pencil"></span></button></a> 
        
                                    <a href="/manageuser/student/del/<%= student._id %>"><button class="uk-button uk-button-danger" style="padding: 0px 10px; "><span uk-icon="trash"></span></button></a>
                                </td>
                            </tr>
                        <% }); %>
                        <% if(studentData.length<1){ %>
                                <tr>
                                    <td colspan="4">ไม่มีข้อมูลในระบบ</td>
                                </tr>
                            <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/javascript'); -%>
<%- include('../layouts/footer'); -%>
